@model IEnumerable<IssueTracker_CoreServices.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <input type="button" value="Create" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Projects")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VersionControlURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionControlURL)
            </td>
            <td class="btn-group">
                <input type="button" value="Issues" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Project", "Issue",new { id = item.Id })'" />
                <input type="button" value="Details" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Details", "Projects",new { id = item.Id })'" />
                <input type="button" value="Delete" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Delete", "Projects",new { id = item.Id })'" />
            </td>
        </tr>
}
    </tbody>
</table>
