@model IssueTracker_CoreServices.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            Closed Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
    </dl>
</div>

<div class="btn-group">
    <input type="button" value="Edit" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Edit", "Issue",new { id = Model.Id })'" />
    <input type="button" value="Back" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Index", "Issue")'" />
</div>

<h2 class="pt-3">Discussion</h2>
<hr/>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
