@model IEnumerable<IssueTracker_CoreServices.Models.Issue>
@using Microsoft.AspNetCore.Identity
@using IssueTracker_CoreServices.Models;
@inject SignInManager<IssueTrackerUser> SignInManager
@inject UserManager<IssueTrackerUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Created By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            switch (item.Severity)
            {
                case Severity.Major:
                    <text>
                    <tr class="table-warning">
                    </text>
                    break;
                case Severity.Minor:
                    <text>
                    <tr class="table-active">
                    </text>
                    break;
                case Severity.Critical:
                    <text>
                    <tr class="table-danger">
                    </text>
                    break;
                default:
                    <text>
                    <tr>
                    </text>
                    break;
            }
                <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (item.ClosedDate.HasValue)
                {
                @Html.DisplayFor(modelItem => item.ClosedDate)
            }
            else
            {
                <td></td>
            }
                <td class="btn-group-table-cell">

                @if (SignInManager.IsSignedIn(User))
                {
                IssueTrackerUser trackerUser = (IssueTrackerUser)await UserManager.GetUserAsync(User);
                <input type="button" value="Details" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Details", "Issue", new { id = item.Id })'" />
                if (trackerUser.UserName == item.CreatedBy)
                {
                    <input type="button" value="Close" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Close", "Issue",new { id = item.Id })'" />
                }
                else 
                { 
                    <input type="button" value="Details" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Details", "Issue",new { id = item.Id })'" />
                }
                }
                </td>
            <tr />
        }
    </tbody>
</table>
